<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/chatlogin.css">
  </head>

  <body>
    <div id="nav-bar">
      <div class="nav1">
        <h1>
          <span>S</span><span>T</span><span>U</span><span>D</span><span>M</span
          ><span>A</span><span>T</span><span>E</span>
        </h1>
      </div>
      <div class="nav2">
        <ul id="navbar2">
          <li class="navbar2-feature"><a href="/home">Home</a></li>
          <li class="navbar2-feature">
            <a href="/chatlogin">ChatApp</a>
          </li>
          <li class="navbar2-feature"><a href="/contact">Contact</a></li>
          <li class="navbar2-feature"><a href="/team">Team</a></li>
        </ul>
      </div>
      <div class="nav3">
        <ul id="navbar3">
          <li class="navbar3-feature">
            <a href="/login" id="nav3-a1">Log in</a>
          </li>
          <li class="navbar3-feature">
            <a href="/signup" id="nav3-a2">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="form-container">
        <form method="POST" action="/chatroom/login">
          <h1>Sign In</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
          <span>or use your email password</span>
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <a href="#">Forget Your Password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="toggle-container">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to use alumni chat features</p>
      </div>
    </div>
  </body>
</html>
