<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css">
  </head>

  <body>
    <div id="nav-bar">
      <div class="nav1">
        <h1>
          <span>S</span><span>T</span><span>U</span><span>D</span><span>E</span
          ><span>A</span><span>S</span><span>E</span>
        </h1>
      </div>
      <div class="nav2">
        <ul id="navbar2">
          <li class="navbar2-feature"><a href="/home">Home</a></li>
          <li class="navbar2-feature"><a href="/login">Dashboard</a></li>
          <li class="navbar2-feature"><a href="/team">Team</a></li>
        </ul>
      </div>
      <div class="nav3">
        <ul id="navbar3">
          <li class="navbar3-feature"><a href="/login" id="nav3-a1">Log in</a></li>
          <li class="navbar3-feature"><a href="/signup" id="nav3-a2">Sign up</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div id="left">
        <h2>Contact Us</h2>
        <p class="p1">
          Fill out the form and our team will reach out to you within 1-2
          business days.
        </p>
        <p class="p2">Click the button below to schedule a meeting with us.</p>
        <button id="left-button">Talk with us</button>
        <hr />
        <h2>Email</h2>
        <p class="p3">12212100@nitkkr.com</p>
        <hr />
        <h2>Phone No.</h2>
        <p class="p4">+91 9416315037</p>
      </div>
      <div id="right">
        <form action="#" method="post">
          <input type="text" id="name" required placeholder="Your Name" />

          <input type="email" id="email" required placeholder="Your Email" />

          <input type="text" id="subject" placeholder="Subject(Optional)" />

          <textarea
            id="message"
            rows="9"
            required
            placeholder="Enter Your Message . . ."
          ></textarea>

          <button>Send Here</button>
        </form>
      </div>
    </div>

    <footer>
      <section class="top">
        <div style="display: flex; justify-content: space-between">
          <h2>STUDEASE</h2>
          <div class="icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>

        <ul>
          <li>
            <h3>Resources</h3>
            <a>Notes</a>
            <a>PYQs</a>
            <a>Mentor's Guide</a>
            <a>Class Tests</a>
          </li>
          <li>
            <h3>Curriculum</h3>
            <a>Overview</a>
            <a>Attendence</a>
            <a>Subjects</a>
            <a>Feedback</a>
          </li>
          <li>
            <h3>Features</h3>
            <a>Attendence</a>
            <a>Chat with mentor</a>
            <a>Teacher's Feedback</a>
            <a>ABCD</a>
          </li>
          <li>
            <h3>Explore</h3>
            <a>About Us</a>
            <a>Blog</a>
            <a>Partnerships</a>
            <a>Careers</a>
          </li>
        </ul>
      </section>
    </footer>
    
  </body>
</html>
