<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-be
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/home.css" />
      </head>

      <body>
        <div class="paint">
          <div id="nav-bar">
            <div class="nav1">
              <h1>
                <span>S</span><span>T</span><span>U</span><span>D</span
                ><span>M</span><span>A</span><span>T</span><span>E</span>
              </h1>
            </div>
            <div class="nav2">
              <ul id="navbar2">
                <li class="navbar2-feature"><a href="#">Home</a></li>
                <li class="navbar2-feature"><a href="/login">Dashboard</a></li>
                <li class="navbar2-feature">
                  <a href="/chatlogin">ChatApp</a>
                </li>
                <li class="navbar2-feature"><a href="/contact">Contact</a></li>
                <li class="navbar2-feature"><a href="/team">Team</a></li>
              </ul>
            </div>
            <div class="nav3">
              <ul id="navbar3">
                <li class="navbar3-feature">
                  <a href="/login" id="nav3-a1">Log in</a>
                </li>
                <li class="navbar3-feature">
                  <a href="/signup" id="nav3-a2">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="middlecontent">
            <div class="right">
              <span>
                <p style="color: black">Hello Students !</p>
              </span>
              <span>
                <p style="color: rgb(255, 255, 255)">
                  This is the website made by Love
                </p>
              </span>
              <span>
                <p
                  style="
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    font-weight: 300;
                    padding-block: 15px;
                  "
                >
                Revolutionizing education, the endeavor redefines student management, enhancing communication, streamlining processes, and offering advanced analytics for academic excellence.
                </p>
              </span>
              <span >
                <button class="log logbtn">Login</button>
                <button class="reg logbtn">Sign up</button>
              </span>
            </div>
            <div class="img">
              <img src="/css/images/hero-img.png" alt="img" />
            </div>
          </div>
        </div>
        <br /><br />

        <div class="card1">
          <div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="animate-charcter">Attendence</h3>
              </div>
            </div>
            <div class="text-main">
              Efficient attendance tracking system allowing students to mark
              their presence effortlessly.
            </div>
          </div>
          <div class="card-img1">
            <img src="/css/images/Attendence.jpg" alt="attendece" />
          </div>
        </div>
        <br />
        <div class="card1">
          <div class="card-img2">
            <img src="/css/images/chat.jpg" alt="chat with Alumni" />
          </div>
          <div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="animate-charcter">Chat With Alumni</h3>
              </div>
            </div>
            <div class="text-main">Connect with alumni seamlessly, fostering invaluable mentorship and networking opportunities for students</div>
          </div>
        </div>
        <br />
        <div class="card1">
          <div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="animate-charcter">Feedback To Teacher</h3>
              </div>
            </div>
            <div class="text-main">Enable students to share feedback with teachers effortlessly via a user-friendly form interface.</div>
          </div>
          <div class="card-img3">
            <img src="/css/images/course.jpg" alt="cources" />
          </div>
        </div>
        <br />
        <br />
        <br />
        <!-- review section-->
        <div class="container2">
          <div class="wrapper">
            <div class="card">
              <div class="card-thumb">
                <img src="/css/images/yashimg.png" class="client-img" alt="" />
              </div>
              <div class="card-body">
                <span class="client-name"><h4>Yash Raj</h4></span>
                <span class="client-position">2nd Year</span>
                <p class="review">
                  I began utilizing this website during my second year, and it greatly assisted me in monitoring my attendance. Overall, the website is excellent, but it lacks an option to edit personal details.
                </p>
                <div class="rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-thumb">
                <img src="/css/images/rahulimg.png" class="client-img" alt="" />
                <span class="client-name">client two</span>
              </div>
              <div class="card-body">
                <span class="client-name"><h4>Rahul Sehgal</h4></span>
                <span class="client-position">3rd Year</span>
                <p class="review">
                  Highly satisfied with this application, especially its chat with alumni feature, which helped me identify mistakes made during exam preparation
                </p>
                <div class="rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-thumb">
                <img
                  src="/css/images/tanishimg.png"
                  class="client-img"
                  alt=""
                />
                <span class="client-name">client three</span>
              </div>
              <div class="card-body">
                <span class="client-name"><h4>Tanish Sharma</h4></span>
                <span class="client-position">1st Year</span>
                <p class="review">
                  My friend Jonathan recommended this website to me. The website's UI is excellent. A standout feature is the ability to send anonymous feedback to teachers. 
                </p>
                <div class="rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
          </div>
        </div>
        <div class="box-ques">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="animate-charcter">Frequently Asked Questions</h3>
            </div>
          </div>
          <div class="container">
            How do I register as a student in the system?
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="container">
            How can I update my personal information or contact details?
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="container">
            How can I view my academic schedule?
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="container">
            Where can I view my grades and academic progress?
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>

        <!-- footer -->

        <footer>
          <section class="top">
            <div class="group1">
              <h2>STUDMATE</h2>
              <div class="icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-github"></i>
              </div>
            </div>

            <ul>
              <li>
                <h3>Resources</h3>
                <a>Notes</a>
                <a>PYQs</a>
                <a>Mentor's Guide</a>
                <a>Class Tests</a>
              </li>
              <li>
                <h3>Curriculum</h3>
                <a>Overview</a>
                <a>Attendence</a>
                <a>Subjects</a>
                <a>Notification</a>
              </li>
              <li>
                <h3>Features</h3>
                <a>Attendence</a>
                <a>Chat with mentor</a>
                <a>Teacher's Feedback</a>
                <a>Feedback</a>
              </li>
              <li>
                <h3>Explore</h3>
                <a>About Us</a>
                <a>Blog</a>
                <a>Partnerships</a>
                <a>Careers</a>
              </li>
            </ul>
          </section>
        </footer>

        <script>
          const wrapper = document.querySelector(".wrapper");
          const indicators = [
            ...document.querySelectorAll(".indicators button"),
          ];

          let currentTestimonial = 0; // Default 0

          indicators.forEach((item, i) => {
            item.addEventListener("click", () => {
              indicators[currentTestimonial].classList.remove("active");
              wrapper.style.marginLeft = `-${100 * i}%`;

              item.classList.add("active");
              currentTestimonial = i;
            });
          });
        </script>
      </body>
    </html>
  </head>
</html>
