<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div class="paint">
    <div class="topheader">
      <div class="leftside">
        <ul>
          <li>About</li>
          <li>Help</li>
          <li>Contact</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="rightside">
        <ul>
          <li><i class="fa-solid fa-phone"> </i>+91 9823554409</li>
          <li><i class="fa-solid fa-square-envelope"> </i>studenthelp@nitkkr.ac.in</li>
        </ul>
      </div>
    </div>
    <div class="bottomheader">
      <div class="content">
        <div>
          <h2><SPAN style="color: blue;font-size: 35px;">STUD</SPAN><span style="color:red;font-size: 35px;">EASE</span>
        </div>
        <ul class="list">
          <li>Home</li>
          <li>Courses</li>
          <li>Marks</li>
          <li>Attendence</li>
          <a href="/login"><button class="button-21" role="button">Login</button></a>
          <a href="/signup"><button class="button-21" role="button">Sign-up</button></a>
        </ul>

      </div>
    </div>

    <div class="middlecontent">
      <div class="img">
        <img src="/css/images/women.png" alt="img" />
      </div>
      <div class="right">
        <span>
          <p style="color: black;">Hello Students !</p>
        </span>
        <span>
          <p style="color:orange;">This is the website made by Love </p>
        </span>
      </div>
    </div>
  </div>
  <br /><br />

  <div class="card1">
    <div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Attendence</h3>
        </div>
      </div>
      <div class="text-main">
        Efficient attendance tracking system allowing students to mark their presence effortlessly.
      </div>
    </div>
    <div class="card-img1">
      <img src="/css/images/Attendence.jpg" alt="attendece">
    </div>
  </div>
  <br>
  <div class="card1">
    <div class="card-img2">
      <img src="/css/images/chat.jpg" alt="chat with Alumni">
    </div>
    <div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Chat With Alumni</h3>
        </div>
      </div>
      <div class="text-main">
        Chat with Alumni for free!!!
      </div>
    </div>
  </div>
  <br>
  <div class="card1">
    <div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Courses</h3>
        </div>
      </div>
      <div class="text-main">
        Check Your Semester Cources Here.
      </div>
    </div>
    <div class="card-img3">
      <img src="/css/images/course.jpg" alt="cources">
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="box-ques">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter">Frequently Asked Questions</h3>
      </div>
    </div>
    <div class="container">
      How do I register as a student in the system?
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="container">
      How can I update my personal information or contact details?
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="container">
      How can I view my academic schedule?
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="container">
      Where can I view my grades and academic progress?
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
  

  <div class="bottom">
    <div class="box3">
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Investor Relation</a></li>
        <li><a href="#">Speed Test</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
    <div class="box3">
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Legal Notice</a></li>
      </ul>
    </div>
    <div class="box3">
      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Ways to Watch</a></li>
        <li><a href="#">Corporate Information</a></li>
        <li><a href="#">Only on Netflix</a></li>
      </ul>
    </div>
    <div class="box3">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Media Center</a></li>
        <li><a href="#">Terms Of Use</a></li>
      </ul>
    </div>
  </div>
</body>

</html>