<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team</title>
    <link rel="stylesheet" href="/css/team.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /><link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">
  </head>
  <body>
    <div id="nav-bar">
      <div class="nav1">
        <h1>
          <span>S</span><span>T</span><span>U</span><span>D</span><span>M</span
          ><span>A</span><span>T</span><span>E</span>
        </h1>
      </div>
      <div class="nav2">
        <ul id="navbar2">
          <li class="navbar2-feature"><a href="/home">Home</a></li>

          <li class="navbar2-feature"><a href="/contact">Contact</a></li>
          <li class="navbar2-feature"><a href="/team">Team</a></li>
        </ul>
      </div>
      <div class="nav3">
        <ul id="navbar3">
          <li class="navbar3-feature">
            <a href="/login" id="nav3-a1">Log in</a>
          </li>
          <li class="navbar3-feature">
            <a href="/signup" id="nav3-a2">Sign up</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="outer-container">
      <div class="inner-container">
        <div class="title">
          <p class="text-blk section-head-text"><span style="color: blue;">Meet Our <span style="color: red;">Expert</span> Members</span></p>
        </div>
        <br><br>
        <div class="container">
          <div class="slide">
            <div class="item">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="/css/images/faisal.jpeg" />
                </div>
                <p class="text-blk name">Faisal Jamil</p>
                <div class="content">
                  <p>Persuing B.tech (NIT KKR)</p>
                  <p>Contact no: 8228023394</p>

                  <p>Email id: <b>12212092@nitkkr.in</b></p>
                </div>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                    />
                  </a>

                  <a href="http://www.facebook.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg"
                    />
                  </a>

                  <a href="http://www.instagram.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg"
                    />
                  </a>

                  <a href="http://www.gmail.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                    />
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="/css/images/ansh.jpg" />
                </div>

                <p class="text-blk name">Ansh Garg</p>
                <div class="content">
                  <p>Persuaing B.tech (NIT KKR)</p>
                  <p>Contact no: 8265962406</p>

                  <p>Email id: <b>12212087@nitkkr.in</b></p>
                </div>

                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                    />
                  </a>

                  <a href="http://www.facebook.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg"
                    />
                  </a>

                  <a href="http://www.instagram.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg"
                    />
                  </a>

                  <a href="http://www.gmail.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                    />
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="/css/images/ankit.jpeg" />
                </div>
                <p class="text-blk name">Ankit Kumar</p>
                <div class="content">
                  <p>Persuaing B.tech (NIT KKR)</p>
                  <p>Contact no: 8813813877</p>

                  <p>Email id: <b>12212091@nitkkr.in</b></p>
                </div>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                    />
                  </a>

                  <a href="http://www.facebook.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg"
                    />
                  </a>

                  <a href="http://www.instagram.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg"
                    />
                  </a>

                  <a href="http://www.gmail.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                    />
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="/css/images/gaurav.jpg" />
                </div>
                <p class="text-blk name">Gaurav Kumar</p>
                <div class="content">
                  <p>Persuaing B.tech (NIT KKR)</p>
                  <p>Contact no: 9416315037</p>

                  <p>Email id: <b>12212100@nitkkr.in</b></p>
                </div>

                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                    />
                  </a>

                  <a href="http://www.facebook.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg"
                    />
                  </a>

                  <a href="http://www.instagram.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg"
                    />
                  </a>

                  <a href="http://www.gmail.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                    />
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="/css/images/harsh.jpg" />
                </div>
                <p class="text-blk name">Harsh Sinha</p>
                <div class="content">
                  <p>Persuaing B.tech (NIT KKR)</p>
                  <p>Contact no: 6200606385</p>

                  <p>Email id: <b>12212090@nitkkr.in</b></p>
                </div>

                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                    />
                  </a>

                  <a href="http://www.facebook.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg"
                    />
                  </a>

                  <a href="http://www.instagram.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg"
                    />
                  </a>

                  <a href="http://www.gmail.com/" target="_blank">
                    <img
                      src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br>
    <footer>
      <section class="top">
        <div class="group1">
          <h2>STUDMATE</h2>
          <div class="icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>

        <ul>
          <li>
            <h3>Resources</h3>
            <a>Notes</a>
            <a>PYQs</a>
            <a>Mentor's Guide</a>
            <a>Class Tests</a>
          </li>
          <li>
            <h3>Curriculum</h3>
            <a>Overview</a>
            <a>Attendence</a>
            <a>Subjects</a>
            <a>Notification</a>
          </li>
          <li>
            <h3>Features</h3>
            <a>Attendence</a>
            <a>Chat with mentor</a>
            <a>Teacher's Feedback</a>
            <a>Feedback</a>
          </li>
          <li>
            <h3>Explore</h3>
            <a>About Us</a>
            <a>Blog</a>
            <a>Partnerships</a>
            <a>Careers</a>
          </li>
        </ul>
      </section>
    </footer>

    <script>
      let next = document.querySelector(".prev");
      let prev = document.querySelector(".next");

      next.addEventListener("click", function () {
        let items = document.querySelectorAll(".item");
        document.querySelector(".slide").appendChild(items[0]);
      });

      prev.addEventListener("click", function () {
        let items = document.querySelectorAll(".item");
        document.querySelector(".slide").prepend(items[items.length - 1]); // here the length of items = 6
      });
    </script>
  </body>
</html>
