@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;

  pad: 0;
  margin: 0;
}

.topheader {
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
  color: black;
  padding: 10px;
}

.leftside ul,
.rightside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.leftside li,
.rightside li {
  margin-right: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}

ul.list {
  list-style-type: none;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0;
}

ul.list li {
  margin-inline: 10px;
}

li:hover {
  color: blue;
  cursor: pointer;
  border-bottom: 3px solid black;
  transition: 0.1s ease;
}

i{
  margin-right: 10px;
}

.paint {
  width: 100%;
  min-height: 90vh;
  background-color: rgba(253, 213, 213, 0.769);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.button-21 {
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 6px 20px;
  transition: background-color .2s,background-position .2s;
  margin-right: 15px;
}

.button-21:hover {
  background-position: -20px -20px;
}

.middlecontent {
  margin-inline: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right p {
  font-size: 3rem;
  font-weight: 700;
}

.img img {
  width: 675px;
}


h3 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(47, 50, 125);
  position: relative;
}

p {
  font-size: 16px;
  color: rgb(105, 105, 132);
  font-weight: 500;
}

.card1 {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
  margin-top: -20px;
  position: relative;
}
.card1 .heading {
  font-size: 2.9rem;
  font-weight: 700;
}

.card1 .text-main {
  font-size: 1.5rem;
  font-weight: 500;
}
.card-img1 img,
.card-img2 img,
.card-img3 img {
  width: 30vw;
  position: relative;
  z-index: 10;
}

.card-img1 img,
.card-img3 img{
  height: 20vw;
  left: 2vw;
}

.box-ques {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 75px;
}

.box-ques .heading {
  font-size: 3.4rem;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 800;
}

.box-ques .container {
  background-color: gray;
  padding: 20px 40px;
  width: 65vw;
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container:hover{
  /* background-color: #413f3f; */
  background-color: rgba(253, 213, 213, 0.769);
  cursor: pointer;
  transition: 0.2s ease;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 50px 0 0 0;
  background-color: black;
}

.box3{
  padding:8px;
}
.box3 li a{
  color: rgb(255, 255, 255);
  text-decoration:underline;
}
li{
  padding: 10px;
}


/* animation */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2.9rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Apply animation only */
.animate-charcter:hover {
  background-color: blue;
}




